*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    /*Colores*/
    --rojo-fondos:#510319;
    --rojo-vivos: #BF191E;
    --rojo-vivos-t: #64171a;
    --rojo-black:#150000;
    --warm-black2:#282623;
    --off-white:#FAF8F7;
    --just-white:#FFFFFF;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans',sans-serif;
}

body{
    background-image: url("./../img/pattern.png");
    background-color: var(--rojo-fondos);
    color: var(--off-white);
    text-align: center;
}

.logo{
    margin-top: 80px;
}

 h1{
    margin-top: 40px;
    font-size: 3rem;
}

p{
    margin: 2rem;
    font-size: 1.2rem;
    text-align: justify;

}

.container-login-register{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px; 
}

form{
    margin: 20px 0px;
    text-align: center;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 300px;
    min-width: 200px;
    position: absolute;
    background-color: var(--rojo-vivos-t);
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(48,0,0) 0%, rgba(81,3,25) 35%, rgba(100,23,26) 100%);
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

label{
    font-size: 1.6rem;   
    font-weight: bold;
}

.input-txt{
    height: 3rem;
    width: 100%;
    margin: 20px 0;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.input-sub{
    width: 10rem;
    height: 4rem;
    font-size: 1.4rem;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 2px solid var(--off-white);
    background: transparent;
    color: var(--off-white);
    cursor: pointer;
    margin-top: 3.5rem;
    outline: none;
    transition: all 200ms;
    border-radius: 5px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.input-sub:hover{
    background: var(--off-white);
    color: var(--rojo-black);
}



