<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/homeStyle.css">
    <link rel="stylesheet" href="./../css/homeTablet.css" media="screen and (min-width:768px)">
    <link rel="stylesheet" href="./../css/homeDesktop.css" media="screen and (min-width:1008px)">

    <title>Home</title>
</head>
<body>
    <main class="principal">
        <div class="sidebar">
            <nav class="menu">
                <figure class="logo">
                    <a href="./../login.html">
                        <img src="./../img/logotipo-del-metro-de-gwangju.svg" alt="">
                    </a>
                </figure>
            </nav>
            <div class="card-container">
                <div class="card-row">
                    <div class="card" id="card1">
                        
                        <button onclick="imprimir1()" id="btn-register">Ver Registros</button>

                    </div>
                    <div class="card" id="card2">
                        

                        <button onclick="imprimir2()" id="btn-register">Ver Registros</button>

                    </div>
                </div>
                <div class="card-row">
                    <div class="card" id="card3">
                        

                        <button onclick="imprimir3()" id="btn-register">Ver Registros</button>

                    </div>
                    <div class="card" id="card4">
                        
                        <button onclick="imprimir4()" id="btn-register">Ver Registros</button>

                    </div>
                </div>
            </div> 
                
            
            <div class="container">                 
                
                <div class="side-text">
                    <div>
                        <h1>Bienvenido</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At impedit assumenda dicta esse iure eum, minus qui enim maxime expedita id accusamus ducimus, rem cumque earum autem quas hic harum?</p>
                        
                    </div>  
                </div>
            </div>
        </div>
        <div class="contenedor">
                       
            <div class="seccion1">
                <div class="row1">
                    <button  id="btn-salir">Salir</button>
                    
                </div>
                <div class="row2">

                    <span id="mostrar">

                        
                    </span>
                </div>
                

            </div>
            <div class="seccion2">
    
            </div>

        </div>
        
        
    </main>
    
<script src="./../js/scriptHome.js"></script>
<script src="./../js/registro.js"></script>
</body>
</html>