<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Ingreso</title>
    <link rel="stylesheet" href="./../css/passwordStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
</head>
<body >
    <img src="./../img/logotipo-del-metro-de-gwangju.svg" alt="" class="logo">
    <h1>Recuperación de contraseña</h1>
    <!--Contenedor de Login y Register-->
    <div class="container-login-register">
        <!--Formulario de Login-->
        <form action="./../login.html" class="login" id="login" name="login">
            <p>Ingrese la dirección de correo electrónico verificada de su cuenta de usuario y le enviaremos un enlace para restablecer la contraseña.
            </p>
            <div >
                <input type="email" name="email1" placeholder="Tu email" autocomplete="email" id="email-1" class="input-txt" required >    
            </div>
                 
            <button onclick="chngPass()"  class="input-sub" id="log-submit">Recuperar</button>      
        </form>       
    </div>
  <script src="./../js/password.js"></script>
</body>
</html>